{% extends 'base.html' %}


{% block content %}

<div class="container" style="padding-top: 5%;">
    <div class="row">
        <div class="input-field">
            <input value="" id="session" type="text" class="validate">
            <label class="active" for="session">Session</label>
        </div>
    </div>
    <div class="row">
        <a class="waves-effect waves-red btn white black-text">
            Enregistrer
            <i class="material-icons red-text">fiber_manual_record</i>
        </a>
    </div>
    <div class="row">
        <a class="waves-effect waves-red btn white black-text" disabled>
            Fin
            <i class="material-icons red-text">stop</i>
        </a>
    </div>
    <div class="row">
        <a class="waves-effect waves-green btn white black-text" disabled>
            Start
            <i class="material-icons green-text">play_arrow</i>
        </a>
    </div>
</div>

{% endblock %}
