{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <link rel="icon" href="{% static 'icon/click.ico' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Auto Clicker</title>
  </head>

  <body>
      {% block content %}{% endblock %}
      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
  </body>
</html>